[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra
	branch = 11.0
[submodule "bolson"]
	path = bolson
	url = git@github.com:rocketgithub/bolson
	branch = 11.0
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = git@github.com:rocketgithub/conciliacion_bancaria
	branch = 11.0
[submodule "rrhh"]
	path = rrhh
	url = git@github.com:rocketgithub/rrhh
	branch = 10.0
[submodule "pos_gt"]
	path = pos_gt
	url = git@github.com:rocketgithub/pos_gt
	branch = 11.0
[submodule "buenrollo"]
	path = buenrollo
	url = git@github.com:rocketgithub/buenrollo.git
	branch = 11.0
[submodule "gface_cofidi"]
	path = gface_cofidi
	url = git@github.com:rocketgithub/gface_cofidi.git
[submodule "pedidos_tienda"]
	path = pedidos_tienda
	url = git@github.com:rocketgithub/pedidos_tienda.git
[submodule "pos_guardar"]
	path = pos_guardar
	url = git@github.com:rocketgithub/pos_guardar.git
[submodule "pos_sat"]
	path = pos_sat
	url = https://github.com/rocketgithub/pos_sat.git
	branch = 10.0
[submodule "asistelibros"]
	path = asistelibros
	url = https://github.com/rocketgithub/asistelibros.git
	branch = 11.0
[submodule "fel_infile"]
	path = fel_infile
	url = https://github.com/rocketgithub/fel_infile.git
[submodule "kardex"]
	path = kardex
	url = https://github.com/rocketgithub/kardex.git
	branch = 11.0
